<mat-drawer-container>
    <mat-drawer [opened]="opened" mode="side">
        <mat-list>
            <mat-list-item [routerLinkActive]="['active']">
                <mat-icon color="primary" mat-list-icon>garage</mat-icon>
                <a routerLink="/car" mat-line>Cars</a>

            </mat-list-item>

            <mat-list-item [routerLinkActive]="['active']">
                <mat-icon color="primary" mat-list-icon>sell</mat-icon>
                <a mat-line>Fuel-Type</a>

            </mat-list-item>

            <mat-list-item [routerLinkActive]="['active']">
                <mat-icon color="primary" mat-list-icon>store</mat-icon>
                <a mat-line>Reservation</a>

            </mat-list-item>

            <mat-list-item [routerLinkActive]="['active']">
                <mat-icon color="primary" mat-list-icon>spa</mat-icon>
                <a mat-line>Reports</a>

            </mat-list-item>

        </mat-list>
    </mat-drawer>
    
<mat-drawer-content>
    <div class="content">

        <router-outlet>

        </router-outlet>

    </div>

</mat-drawer-content> 

</mat-drawer-container>
